@import 'jeet'

.centerText
  stack(0, center)
  font-family 'Menlo', 'Open Sans', sans-serif
  font-size 1.7em

.successh1
  font-size 2em
  line-height 1.3em

footer
  padding-top 1%
  stack(0, center)
  center(100%)
  font-size 0.6em
  font-family 'Menlo', 'Open Sans', sans-serif

.seperator
  stack(0, center)
  width 60%
  height 0.1em
  font-size 2em
  padding-top: 0%
  padding-bottom: 5px
  background-color: transparent
  border-width: medium medium 3px
  border-style: none none solid
  border-top: medium none
  border-right: medium none
  border-left: medium none
  border-radius: 0px
  color: #404040
  outline: medium none
